.login {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 60%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(rgba(42, 7, 112, 0.5), rgba(31, 4, 85, 0.5)),
        url("https://upload.wikimedia.org/wikipedia/commons/9/9e/Train_statue_L.D._College_of_Engieering.jpg")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 75px;
        line-height: 100px;
      }
      
      

      span {
        font-size: 14px;
      }
      
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
      color: #555;
      }
    
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        input {
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 20px 10px;
        }
        
        button {
          width: 50%;
          padding: 10px;
          border: 1px solid #938eef;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
        button:hover{
          background-color: rgb(255, 255, 255);
          color: #938eef;
          border: 1px solid #938eef;
        }
        select{
          border: none;
          
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;

        }
      }
    }
  }
}
