@import "../../style.scss";


.leftBar {
  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bg");
    color: themed("textColor");

    @include mobile{
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;
     

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    
        span {
          padding: 10px;
          font-size: 12px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          :hover{
            background-color: rgb(4, 107, 224);
            color: aliceblue;
            border-radius: 10px;
            display: flex;
          }

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            
            
          }

          span {
            font-size: 14px;
          }
        }

        .item  {
          display: flex;
          align-items: center;
          gap: 10px;
        

          .text {

            display: flex;
            align-items: center;
            color: themed("textColor");
            .link{
              color: themed("textColor");
              text-decoration: none;
            }
            :hover{
              background-color: rgb(4, 107, 224);
              color: aliceblue;
              border-radius: 10px;
              display: flex;
            }

            span {
              font-size: 14px;
            }


          }
          span {
            font-size: 14px;
          }



         
        }
        .logout{
          color: rgb(202, 45, 45);
          display: flex;
          align-items: center;
          gap: 10px;

          .text{

            display: flex;
            align-items: center;
           
            :hover{
              background-color: rgb(243, 16, 16);
              color: aliceblue;
              border-radius: 10px;
              display: flex;
            }

            span {
              font-size: 14px;
            }
          }
            
         
        }
      }
    }
  }
}
