@import "../../style.scss";

.rightBar {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bgSoft");

    @include mobile{
      display: none;
    }
    @include tablet{
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;
      display: flex;
      flex-direction: column;
     

      .item {
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        padding: 20px;
        margin-bottom: 20px;
        background-color: themed("bg");

        span {
          color: gray;
          font-size: 18px;
        }

        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px 0px;
          

          .userInfo {
            display: flex;
            align-items: left;
            
           
            color: themed("textColorSoft");
           
            flex-direction: column;
            gap: 20px;
            
            
            
            /* Add this line to prevent text overflow */
            
          

        

            p {
              color: themed("textColorSoft");
              word-break: break-word;
              display: block;
              white-space: pre-line;
              
              
            }
            

            span {
              font-weight: 500;
              color: themed("textColor");
            }
          }

          
        }
      }
    }
  }
}
